<template>
  <v-layout>
    <v-flex lg4 md4 sm12 xs12>
      <v-container>
        <my-upload field="file"
                   @success="Success"
                   @cropSuccess="cropSuccess"
                   @crop-upload-success="cropUploadSuccess"
                   @crop-upload-fail="cropUploadFail"
                   v-model="show"
                   :width="300"
                   :height="300"
                   url="http://178.79.164.219:902/proof"
                   :value.sync="show1"
                   :params="otherParams"
                   lang-type="en">
        </my-upload>
        <v-card>
          <img :src="imgDataUrl">
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">indentifier</h3>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat @click="show = true">Upload/Change Image</v-btn>
          </v-card-actions>
          <div><p></p></div>
        </v-card>
    </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
import 'babel-polyfill'
import myUpload from 'vue-image-crop-upload'
export default {
  components: {myUpload},
  name: 'ImageUpload',
  data() {
    return {
      show: false,
      show1: true,
      params: {
        token: '123456798',
        name: 'avatar'
      },
      headers: {
        smail: '*_~'
      },
      imgDataUrl: ''
    }
  },
  methods: {
    show () {
      let {show1} = this;
      this.show1 = !show1;
    }
  },
  events: {
    Success() {
      this.$http.get('http://178.79.164.219:902/proof')
        .then(function (response) {
          let success = 'field'
          if (success === 'file') {
            this.success = success.response.data
            console.log(response.data)
          }

        })
        .catch(function (error) {
          this.errors.push(error)
          console.log(error)
        })
    },
    cropSuccess(imgDataUrl, field){
      let cropSuccess = 'field'
      if (field === 'file') {
        console.log('-------- crop success --------')
        this.imgDataUrl = imgDataUrl
      }
    },
    cropUploadSuccess(jsonData, field){
      console.log('-------- upload success --------')
      console.log(jsonData)
      console.log('field: ' + field)
    },
    cropUploadFail(status, field){
      console.log('-------- upload fail --------')
      console.log(status)
      console.log('field: ' + field)
    }
  }
}
</script>

<style scoped>
  * {
    margin: 0;
    padding: 0;
  }

  body {
    padding: 100px 20%;
    font-family: '微软雅黑';
  }

  label {
    display: block;
    margin-bottom: 10px;
  }


  .avatar {
    display: block;
    width: 200px;
    margin: 10px auto;
  }
</style>
