<template>
  <v-container>
    <v-layout row wrap>
      <v-flex lg4 md4 sm12 xs12 offset-lg4 offset-md4>
        <v-card flat>
          <v-container>
            <img src="" alt="" style="margin-left: 35%">
            <v-form @submit.prevent="doLogin()">
              <v-text-field
                label="Email"
                v-model="user.email"
              ></v-text-field>
              <v-text-field
                label="Password"
                v-model="user.password"
                type="password"
              ></v-text-field>
              <v-btn type="submit" :depressed="true" color="secondary">Login</v-btn>
            </v-form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      user: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    doLogin () {
      alert('login pending')
    }
  }
}
</script>

<style scoped>

</style>
